/* Name: Kinley Cummins
Date: 7/24/25
Filename: styles.css */
html {
  scroll-behavior: smooth;
}

section {
  padding: 60px 0;
}

#heading{
    background-color: rgba(243,217,12,255);
}

.top-image {
  max-height: 400px;
  object-fit: contain;
  width: 100%;
}

body {
  padding-top: 56px;
}

.carousel-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover; 
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 10px;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
}
